body {
	background-color: rgba(46, 49, 49, 1);
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
}

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 10;
	background: rgba(0, 0, 0, 0.75);
}

.header {
	background: navy;
	padding: 1rem;
}

.header h2 {
	margin: 0;
	color: white;
}

.alert {
	position: fixed;
	top: 30vh;
	left: 10%;
	width: 80%;
	z-index: 100;
	overflow: hidden;
	border: white 2px solid;
	background-color: ghostwhite;
}

.content {
	padding: 1rem;
}
