label {
	display: flex;
	margin: 5px 10px 5px 10px;
	width: 95%;
	height: 25px;
	font-weight: 600;
	background-color: white;
}

input {
	display: flex;
	margin: 5px 10px 5px 10px;
	width: 95%;
	height: 30px;
	border: 1px solid grey;
	background-color: white;
	padding: 5px;
}
