* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", "Helvetica Neue", "Segoe UI", Roboto, Oxygen, Ubuntu,
		Cantarell;
	background: gainsboro;
}

img {
	width: 30%;
	height: auto;
}

.productlist {
	width: 90vw;
	max-width: 1170px;
	margin: 5rem auto;
	display: grid;
	gap: 2rem;
	color: rgb(50, 50, 50);
}

@media screen and (min-width: 768px) {
	.productlist {
		grid-template-columns: repeat(3, 1fr);
	}
}

.product {
	background: whitesmoke;
	border-radius: 1rem;
	padding: 1rem 2rem;
}
.product h1 {
	margin-top: 0.5rem;
}
